.navbar-nav .nav-link {
  color: rgba(0, 0, 0, 1) !important;
}

#navbarNav {
  justify-content: end;
}

.navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.5) !important;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #d4d4d4;
}

#blogtitle {
  font-size: 6rem;
}

@media (min-width: 992px) {
  #hometext {
    font-size: 3rem;
  }
  #blogdetailtitle {
    font-size: 5rem;
  }
}
